@font-face
{
	font-family: Bebas;
	src: url("<?php echo WP_PLUGIN_URL ?>/membership-simplified-for-oap-members-only/fonts/BEBAS.ttf");
}
@font-face
{
	font-family: League;
	src: url('../fonts/league_gothic-webfont.eot');
	src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/league_gothic-webfont.woff') format('woff'), url('../fonts/league_gothic-webfont.ttf') format('truetype'), url('../fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.oaplesson_page_manage_oap_options .wrap H2
{
	
/*float: left;*/
	position: relative;
	font: 30pt League;
	padding-left: 5px;
	padding-bottom: 30px;
	margin-top: 50px;
}
DIV.possession
{
	margin-bottom: 3px;
}
.oaplesson_page_manage_oap_options .widefat
{
	/*[empty]border:;*/
	padding-left: 25px;
	background-color: #FFFFFF;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 40px 0 0 0px;
	background-color:#efefef;
}
DIV.seperator
{
	border-bottom: 2px dotted #626262;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
.oaplesson_page_manage_oap_options TD
{
	width: 33%;
	background-color: #FFFFFF;
	padding-bottom: 16px;
}
.oaplesson_page_manage_oap_options .widefat TD
{
	border-bottom-color: #FFFFFF;
	padding-left: 30px;
	padding-right: 30px;
	border:none;
	background-color:#efefef;
}
.oaplesson_page_manage_oap_options SELECT
{
	color: #000000;
	/*[empty]background:;*/
}
.wrap H3
{
	font-size: 14px;
	font-weight: bold;
}
.bottomoptions TD
{
	padding-bottom: 31px;
}
.oaplesson_page_manage_oap_options .wrap H3
{
	font: 20pt League;
	letter-spacing: 0.5px;
}
.oaplesson_page_manage_oap_options #submitbutton
{
	background: #69F repeat-x left top;
	border:none;
	color: #FFFFFF;
	font-weight: bold;
	height: 51px;
	margin-bottom: 10px;
	margin-right: 0px;
	float: right;
	padding: 8px 30px;
	font: 20px League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	color: #ffffff;
	letter-spacing: 0.5px;
	width: 200px;
	margin-top: 20px;
}
.oaplesson_page_manage_oap_options #submitbutton:hover
{
	background: #94b95a repeat-x left top;
	color: #FFFFFF;
	font-weight: bold;
	height: 51px;
	margin-bottom: 10px;
	margin-right: 0px;
	float: right;
	padding: 8px 30px;
	font: 20px League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	letter-spacing: 0.5px;
	cursor: pointer;
-webkit-transition: background .5s ease-in-out;-moz-transition: background .5s ease-in-out;-o-transition: background .5s ease-in-out;transition: background .5s ease-in-out;
}
.oaplesson_page_manage_oap_options #layoutbutton
{
	background: #21759B repeat-x left top;
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	height: 35px;
	margin-right: 0px;
	float: right;
	padding: 5px 10px;
	font: 1.3em League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	letter-spacing: 0.5px;
}
.oaplesson_page_manage_oap_options #layoutbutton:hover
{
	background: #F9D557 repeat-x left top;
	border-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	height: 35px;
	margin-right: 0px;
	float: right;
	padding: 5px 10px;
	font: 1.3em League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
#override
{
	background: #E43333 repeat-x left top;
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	height: 51px;
	margin-bottom: 10px;
	margin-right: 0px;
	float: right;
	padding: 8px 30px;
	font: 23px League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	color: #000000;
	letter-spacing: 0.5px;
	width: 200px;
}
#override:hover
{
	background: #982929 repeat-x left top;
	border-color: #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	height: 51px;
	margin-bottom: 10px;
	margin-right: 0px;
	float: right;
	padding: 8px 30px;
	font: 20px League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
#override_button
{
	background: #69F repeat-x left top;
	border:none;
	color: #FFFFFF;
	font-weight: bold;
	height: 51px;
	margin-bottom: 10px;
	margin-right: 0px;
	float: right;
	padding: 8px 30px;
	font: 20px League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	color: #ffffff;
	letter-spacing: 0.5px;
	width: 200px;
	margin-top:20px;
}
#override_button:hover
{
	background: #94b95a repeat-x left top;
	color: #FFFFFF;
	font-weight: bold;
	height: 51px;
	margin-bottom: 10px;
	margin-right: 0px;
	float: right;
	padding: 8px 30px;
	font: 20px League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	letter-spacing: 0.5px;
	cursor: pointer;
-webkit-transition: background .5s ease-in-out;-moz-transition: background .5s ease-in-out;-o-transition: background .5s ease-in-out;transition: background .5s ease-in-out;
}
.faded
{
	opacity: 0.2;
	color: #000000 !important;
	display: none !important;
}
#poststuff .inside
{
	position: relative;
}
DIV.plugin_title
{
float:left;width:50%;
} 
DIV.sample_data
{
float:right;
width:40%;
text-align:
right;
padding-right:50px;
 } 
#installbutton
{
	background: #efefef;
	border-color:#DFDFDF;
	color: #94b95a;
	font: 20px League;
	height: 51px;
	margin-bottom: 20px;
	margin-right: 6px;
	float: right;
	padding: 8px 30px;
	font: 20px League;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	width: 200px;
	margin-top: 56px;
	cursor:pointer;
}
#installbutton:hover
{
	background: #94b95a;
	color:white;
	border:none;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}
.wrap h2.success
{
color:#FF0000;
}