@font-face {
    font-family: 'League';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.iPhoneCheckContainer {
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
}
.iPhoneCheckContainer input {
	position: absolute;
	top: 5px;
	left: 30px;
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
.iPhoneCheckContainer label {
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	height: 27px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 5px;
	overflow: hidden;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.iPhoneCheckDisabled {
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}
label.iPhoneCheckLabelOn {
	color: white;
	background: url('../images/on.png?1284697268') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 5px;
}
label.iPhoneCheckLabelOn span {
	padding-left: 8px;
	float:left;
	width:auto;
}
label.iPhoneCheckLabelOff {
	color: #8b8b8b;
	background: url('../images/off.png?1284697268') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}
label.iPhoneCheckLabelOff span {
	padding-right: 8px;
}
.iPhoneCheckHandle {
	display: block;
	height: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('../images/slider_left.png?1284697268') no-repeat;
	padding-left: 3px;
}
.iPhoneCheckHandleRight {
	height: 100%;
	width: 100%;
	padding-right: 3px;
	background: url('../images/slider_right.png?1284697268') no-repeat right 0;
}
.iPhoneCheckHandleCenter {
	height: 100%;
	width: 100%;
	background: url('../images/slider_center.png?1284697268');
}
.iOSCheckContainer {
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
}
.iOSCheckContainer input {
	position: absolute;
	top: 5px;
	left: 30px;
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
.iOSCheckContainer label {
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	height: 27px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 5px;
	overflow: hidden;
}
.iOSCheckContainer, .iOSCheckContainer label {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.iOSCheckDisabled {
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}
label.iOSCheckLabelOn {
	color: white;
	background: url('images/ios-style-checkboxes/on.png?1284697268') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 5px;
}
label.iOSCheckLabelOn span {
	padding-left: 8px;
}
label.iOSCheckLabelOff {
	color: #8b8b8b;
	background: url('images/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}
label.iOSCheckLabelOff span {
	padding-right: 8px;
}
.iOSCheckHandle {
	display: block;
	height: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('images/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
	padding-left: 3px;
}
.iOSCheckHandleRight {
	height: 100%;
	width: 100%;
	padding-right: 3px;
	background: url('images/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0;
}
.iOSCheckHandleCenter {
	height: 100%;
	width: 100%;
	background: url('images/ios-style-checkboxes/slider_center.png?1284697268');
}